
<% layout('layouts/boilerplate')%>

<div class="outer">
<div class="div1">
    <img class="homeimg" src="https://res.cloudinary.com/dmsthnisw/image/upload/v1703057636/Hyderabad-homes-interior-design-photos-1_ubrmtc.webp">
</div>
<div class="div2">
    <p>welcom to EstateHub</p>
    <a href="/properties"><button>ViewProperties</button></a>
</div>
</div>