
<% layout('layouts/boilerplate')%>
<form action="/selectPropertyType" method="post">
<label for="cars">Choose property type:</label>
<select name="property" id="property">
  <option value="plot">plot</option>
  <option value="house">house</option>
</select>
<button>submit</button>
</form>